/* colors: #7f00ff; #FF3131; #whitesmoke; :black; */

body {
  background: #7f00ff;
  color: whitesmoke;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  display: flex;
  flex-direction: column;
}

/* header section */

.header {
  background: #FF3131;
  border: 5px double #7f00ff;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.left, .right {
  display: flex;
  gap: 16px;
  align-items: center;
}

.face,
.logo {
  width: 40px;
  height: auto;
}

.logo:hover,
.face:hover {
  transform:scale(1.15);
  transition: 0.3s;
  border-radius: 2px;
}

.logo:hover {
  box-shadow: 0 0 1px black;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.link:hover {
  color: #FFD700;
}

/* main section */

.main {
  display: flex;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  border: 5px double #FF3131;
  padding: 90px;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px;
}

.description p {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.8;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: whitesmoke;
  margin: 0;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.description button {
  display: block;
  text-align: center;
  width: 140px;
  border: none;
  background: #FF3131;
  padding: 10px;
  border-radius: 20px;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  transform:scale(1.15);
  transition: 0.3s;
  border-radius: 10px;
  box-shadow: 0 0 8px black;
}

.all_members_pic {
  width: 500px;
  height: auto;
  box-shadow: 4px 4px black;
  border-radius: 15px;
}

/* content */

.content {
  align-items: center;
  border: 5px double #FF3131;
}

.profile:hover {
  transform:scale(1.15);
  transition: 0.3s;
  border-radius: 25px;
  box-shadow: 0 0 15px black;
}

h2,
h3,
.shuhuaquote,
.name {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h2 {
  font-size: 40px;
}

.name {
  font-size: 24px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.info img {
  width: auto;
  height: 250px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 4px 4px black;
}

.info p {
  opacity: 0.8;
}

/* quote */

.quote {
  display: flex;
  flex-direction: column;
  border: 5px double #FF3131;
  padding: 50px 200px;
}

.quote p {
  font-size: 32px;
  font-style: italic;
  text-align: right;
}

.author {
  padding-bottom: 20px;
  padding-right: 10px;
  text-align: right;
  opacity: 0.8;
}

/* signup */

.sign-up {
  margin: 50px 100px;
  padding: 10px 80px;
  display: flex;
  align-items: center;
  border: 5px double #FF3131;
}

.sign-up-text {
  flex: 1;
  text-align: center;
}

.sign-up-text p {
  opacity: 0.8;
  margin: 5px;
}

.sign-up-button button {
  width: 130px;
  border: none;
  background: #FF3131;
  padding: 10px;
  border-radius: 20px;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
}

/* footer */

.footer {
  opacity: 0.8;
}