/* colors: #7f00ff; #FF3131; #whitesmoke; :black; */

body {
  background: #7f00ff;
  color: whitesmoke;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  display: flex;
  flex-direction: column;
}

/* header section */

.header {
  background: #FF3131;
  border: 5px double #7f00ff;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.left, .right {
  display: flex;
  gap: 16px;
  align-items: center;
}

.face,
.logo {
  width: 40px;
  height: auto;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

/* main section */

.main {
  display: flex;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  border: 5px double #FF3131;
  padding: 90px;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px;
}

.description p {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.8;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: whitesmoke;
  margin: 0;
}

.description button {
  display: block;
  text-align: center;
  width: 140px;
  border: none;
  background: #FF3131;
  padding: 10px;
  border-radius: 20px;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.all_members_pic {
  width: 500px;
  height: auto;
  box-shadow: 4px 4px black;
  border-radius: 15px;
}

.content {
  align-items: center;
  border: 5px double #FF3131;
}

.info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.info img {
  width: auto;
  height: 250px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 4px 4px black;
}

.info p {
  opacity: 0.8;
}